*{
    padding: 0;
    margin: 0;
}
body{
    height: 100%;
}
#mainheader{
    display: flex;
    width: 100%;
    padding: 15px;
    background-color: darkgreen;
    color: white;
    box-shadow: 0px 6px 10px rgb(69, 69, 69);
    align-items: center;
    position: sticky;
    top: 0;
}
#span67{
    border: 5px solid white;
    font-size: 20px;
    padding: 5px 15px 5px 15px;
}
#slogan{
    color: aquamarine;
    font-size: 32px;
}
#slogandiv{
    width: 50%;
    display: flex;
    justify-content: center;
}
#Menu{
    display: flex;
    width: 25%;
}
#logo{
    width: 25%;
}
div a{
    text-decoration: none;
    color: white;
}
#Menu div :hover{
    background-color: black;
}
footer{
    background-color: black;
    width: 100%;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
footer p{
    color: white;
}
main h1{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: red;
}
#hero-banner{
    width: 100%;
    padding-bottom: 15px;
}
main p{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom:77px;
}
main tr td{
    border: 1px solid black;
}
table{
    width: 100%;
}

